{% extends 'base.html' %}
{% block content %}
<style>
    h4{
        text-align:left;
    }
    body{
        background-color: rgb(241, 233, 233);
        background-repeat:no-repeat;
        height:100vh;
        background-size:cover;
    }
    .container{
        margin-top: 80px;
    }
    .btn{
        border-radius: 15px;
        color: white;
        background-color: #0f6369;
        border: none;
    }
    .card-body{
        background-color: rgb(255, 255, 255);

    }
    input,select {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
</style>
<div class="container">
    <div class="row">
        <div class='col-md-2'></div>
        <div class="col-lg-4" >
            <div style="text-align:center">
                <img src="{{profile.profile_pic.url}}"  alt="profile_pic" width="250px"  height="250px " style="border-radius: 50%;">
            </div><br><br>
        </div><br>
        <div class="col-md-6 col-lg-6">
            <div class="card-1">
                <div class="card-text " style="padding: 20px;">
                    <h5><strong>First Name:</strong>{{profile.first_name}}</h5>
                    <h5><strong>Last Name:</strong>{{profile.last_name}}</h5>
                    <h5><strong> Username:</strong> {{profile.user}}</h5>
                    <h5><strong>Email:</strong> {{profile.email}}</h5>
                    <h5><strong>Location:</strong>{{profile.location}}</h5><br>
                    
                <a class="btn btn-default" onclick="toggleFunc()" style="border-radius: 25px; color:white;"target="_blank">Edit Profile</a><br><br>
            </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'></div>
        <div class='card-body p-4 col-md-6'id='form' style=' text-align:left;' >
            <div class="card-text" >
                <div >{{form.media}}</div>
                <form  action="/my_profile" method="post" enctype="multipart/form-data">
                    {%csrf_token%}
                    {{form.as_p}}
                    <input type="submit" class="btn btn-sm btn-default" value="update" style='width:30%;'>
                </form>
            </div>
        </div>
    </div>
  
</div><br><br>
<script>
    function toggleFunc() {
    var x = document.getElementById("form");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>
{%endblock%}