{%extends 'base.html'%}
{% load static%}
{% block content %}

{{block.super}}
 <style>
    body{
    background-color:rgb(211, 211, 211);
    background-repeat:no-repeat;
    background-size:cover;
    font-family: 'Vollkorn', serif;
        color:black;
    
  }
    .col-lg-3{
        font-weight: normal;
        border-radius:20px;
        padding: 10px;
        color:black;
    }
    .card-body{
        background-color: white;
    }
    .btn{
        border-radius: 15px;
        color: white;
    }
    .row1{
        background: linear-gradient(90deg, #115c58 73%, #f8f0f0 50%);
        padding:15vh 0;
        display: flex;
        justify-content: flex-end;
        color:white;
  
    }
    .row2{
        display:flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap-reverse;
    }
  p{
    font-family:'Shippori Mincho B1', serif;;
    font-size:"24px";
  }
</style>
<div class='container'><br><br>
    <div class='row'>
        <div class='col-md-1'></div>
        <div class='col-md-9'>         
            {% if drug %}
            <div class="row row1 ml-5 mr-5 m-5">   
                <div class='row2 col-md-12 row ' style='padding:0px;'>
                    <div class='col-md-1'></div>
                    <div class='col-md-6 text-left'>
                        <h1><strong>{{drug.name}}</strong></h1>
                        <p>{{drug.description}}</p>
                    </div>
                    <div class='col-md-5'>
                        <img src="{{drug.pic.url}}" width='100%' height='200px;'>
                    </div>
    
            </div>
        </div></div></div><br><br>
        {% if nearest %}
        <h5><b>Nearest pharmacies with {{drug.name}}</b></h5><br>
        <div class='row '>
        
            {% for pharmacy in nearest %}
            <div class='col-lg-3'>
                
                <img class="card-img-top" src="{{pharmacy.pharm_pic.url}}" width='100%'height='180px' alt="Card image">
            <div class='card-body'>
                <h5><b>{{pharmacy.name}}</b></h5>
                <span>Located at {{pharmacy.location}}</span><br><br>
                <a href='/pharmacy/{{pharmacy.id}}' class='btn btn-dark'> View Details</a>
            </div>
            </div>
            {% endfor%}
        </div>
        {% endif %}<br>
        <h5 ><b>Other Pharmacies with {{drug.name}}</b></h5><br>
        <div class='row'>
            {% for pharmacy in others %}
                <div class='col-lg-3 text-center'>
                
                        <img class="card-img-top" src="{{pharmacy.pharm_pic.url}}" width='100%' height='180px' alt="Card image">
                    <div class='card-body'>
                        <h5><b>{{pharmacy.name}}</b></h5>
                        <span>Located at {{pharmacy.location}}</span><br><br>
                        <a href='/pharmacy/{{pharmacy.id}}' class='btn btn-dark'> View Details</a>
                    </div>
                    </div>
                    
                    
                {% endfor%}
        </div><br><br><br><br>
        {%else%}
        {% if message %}
        <h4>No results found for {{message}}</h4>
        {% else %}
        <h4>You haven't searched for any medication yet</h4>
        {% endif %}
        {% endif %}
</div></div>
</div>
{% endblock %}